													<td class="bl-zone" name="FooterZone" style="width:600px;" width="600" valign="top" id="bl_11" height="">
														<!-- Footer zone -->
														<div class="bl-block bl-block-footer" name="Footer Block" blocktype="footer" id="bl_12"><div class="bl-block-content">
																<div class="bl-block-content-table bl-block-content-layout-0 bl-block-dir-rtl">
																<table border="0" cellpadding="0" cellspacing="0" width="100%" class="bl-block-content-row bl-block-content-first-row bl-block-content-last-row">
													                <tbody>
														                <tr>
															                <td valign="top" class="bl-block-content-row-inner">
																                <!-- BEGIN Block Column -->
																	            <table align="right" width="600" border="0" cellpadding="0" cellspacing="0" class="bl-block-content-column bl-1-column">
																		            <tbody>
																			            <tr>
																				            <td valign="top" class="bl-padding-1-column">
																					            <div class="bl-block-content-item bl-block-content-item-text bl-block-content-item-canspam canspam-info-uninit item-uneditable bl-content-item-unremovable"><span class="canspam-companyname">Billbeez http://billbeez.com</span> <span class="canspam-country"></span></div>
																								<div class="bl-block-content-item bl-block-content-item-text bl-block-content-item-copyrights">© כל הזכויות שמורות</div>																					            <div class="bl-block-content-item bl-block-content-item-text bl-block-content-item-copyrights"><a href="#">
																								<div class="bl-block-content-item bl-block-content-item-text bl-block-content-item-copyrights">
																									<a href="mailto:support@billbeez.com?Subject=Hello" target="_top">צור קשר</a>
																								</div>																					            <div class="bl-block-content-item bl-block-content-item-text bl-block-content-item-copyrights"><a href="#">
																	            			</div>
																				            </td>
																			            </tr>
																		            </tbody>
																	            </table>
																				<!-- END Block Column -->
																			</td>
																		</tr>
																	</tbody>
																</table>
																</div>
															</div></div>
													</td>													
