<div class="jumbo1 bl-block bl-block-header" id="bl_5" blocktype="header" name="header" width="100%" cellpadding="0" cellspacing="0" border="0">
	
                                
                                
<div class="bl-block-content" contenteditable="false"><table width="100%" cellpadding="0" cellspacing="0" border="0"><tbody><tr><td class="bl-block-content-table bl-block-content-layout-3 bl-block-dir-rtl">
	
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="bl-block-content-row bl-block-content-last-row" style="background-color: rgba(0, 0, 0, 0);"><tbody><tr><td valign="top" class="bl-block-content-row-inner"><table border="0" cellpadding="0" cellspacing="0" class="bl-block-content-column bl-block-content-new-column bl-2-columns" align="right" width="100%" style="width: 100%;">    <tbody>        <tr>            <td valign="top" class="bl-padding-2-columns-right bl-content-wrapper" width="100%" style="width: 100%;"><table cellpadding="0" cellspacing="0" border="0" class="bl-block-content-item-container" width="100%"><tbody><tr><td class="bl-block-content-item-container-inner"><div class="bl-block-content-item bl-block-content-item-image bl-block-content-item-logo" style="text-align: right;" onselectstart="return false;">
                                	
<table width="100%">
	<tr>
	<th width="90"></th>
	<th>
   		<%= image_tag "Final.png", id: "logo", size: "314x84" %>                             	                             	
	</th>
	<th>
		<span class="margin" >
			<%= link_to "כניסה לאתר", "http://billbeez.com", target: "_blank", class: "highlights_link", style: "color: #0000ff;" %>
		</span>
	</th>
</tr>
</table>
                                	</div></td></tr></tbody></table>            </td>        </tr>    </tbody></table><!--[if gte mso 9]></td><td valign="top"><![endif]-->
                                		
                                	
        	</td></tr></tbody></table></td></tr></tbody></table></div>
</div>
                                
