<tr height="42" class="reminder_background">
	<td id="reminder_text"><%= reminder.text.html_safe %></td>
	<% if @control %>	
	  	<td>
		  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
		              customer_newsletter_reminder_path(@customer, @newsletter, reminder),
		              :method => :delete,
		              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
		              :class => 'btn btn-mini btn-danger' %>
	  	</td>
	  	<td class="leftmost">
	  		<%= link_to "Edit", edit_customer_newsletter_reminder_path(@customer, @newsletter, reminder), class: 'btn btn-mini' %>
  		</td>
	<% end %>

</tr>