<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading panel-primary"><a data-anchor="notifications" name="notifications" style="text-decoration: none; color: inherit;">הודעות</a></div>
  <div class="panel-body">
    <p>בילביז סרקה את חשבונך ומצאה דברים שדורשים את שימת לבך  </p>
  </div>

  <!-- Table -->
  <table class=" data table">	
        <thead>
          <tr>
            <th>חברה</th>
            <th>תאריך</th>
            <th>סכום</th>
            <th>סיבה</th>
            <th>סטטוס</th>
          </tr>
        </thead>
        <tbody>
			<%= render 'notifications_panel_document1'  %>
			<%= render 'notifications_panel_document2' %>
			<%= render 'notifications_panel_document3' %>
        </tbody>
  </table>
</div>