  <tr class="notification_background">
    <td><%= image_tag 'yes.png', class: 'sup_logo' %></td>
    <td><%= l Date.today, format: :short %></td>
    <td class="amount"><%= number_to_currency 100 %></td>
    <td>חיובים חריגים</td>
    <td><%= image_tag 'ok.png', class: 'status_logo' %></td>
  </tr>
  <tr>
  	<td>החיוב:</td>
  	<td>שיטת המצליח בע"מ</td>
  	<td>לא הופיע בחשבונית קודמת</td>
  	<td></td>
  	<td></td>
  </tr>
