  <tr class="bill_background">
    <td><%= image_tag company, class: 'sup_logo' %></td>
    <td><%= l Date.today, format: :short %></td>
    <td class="amount"><%= number_to_currency 100 %></td>
    <td>21</td>
  </tr>
  <tr>
  	<td>חוזה מספר:  12345678</td>
  	<td>ספרות אחרונות: 1234</td>
  	<td><a href ="#">שלם</a></td>
  	<td><a href ="#">סמן כמשולם</a></td>
  </tr>
