
												</tr>
											</tbody>
										</table>
										<!-- END ZONES CONTAINER -->										
									</td>
									<!-- END TEMPLATE CONTAINER -->
								</tr>
							</tbody>
						</table>
						<!-- END TEMPLATE WRAPPER -->					
					</td>
					<!-- END TEMPLATE MARGIN -->
				</tr>
			</tbody>
		</table>
		<!-- END TEMPLATE OUTER -->
				
												
	<style title="resp" type="text/css">
            @media screen and (max-width: 480px)
            {
            
            div[class*="bl-template"] div[class*="bl-block-product-v2"] td[class*="bl-block-content-item-td-buttonContent"] { padding-top:0px; }

            div[class*="bl-template"] div[class*="bl-block-product-v2"] td[class*="bl-1-columns"] td[class*="bl-block-content-item-td-titleContent"],
            div[class*="bl-template"] div[class*="bl-block-product-v2"] table[class*="bl-2-columns"] td[class*="bl-block-content-item-td-titleContent"],
            div[class*="bl-template"] div[class*="bl-block-product-v2"] td[class*="bl-3-columns"] td[class*="bl-block-content-item-td-titleContent"],
            div[class*="bl-template"] div[class*="bl-block-product-v2"] td[class*="bl-1-columns"] td[class*="bl-block-content-item-td-textContent"],
            div[class*="bl-template"] div[class*="bl-block-product-v2"] table[class*="bl-2-columns"] td[class*="bl-block-content-item-td-textContent"],
            div[class*="bl-template"] div[class*="bl-block-product-v2"] td[class*="bl-3-columns"] td[class*="bl-block-content-item-td-textContent"],
            div[class*="bl-template"] div[class*="bl-block-product-v2"] td[class*="bl-1-columns"] td[class*="bl-block-content-item-td-imageContent"],
            div[class*="bl-template"] div[class*="bl-block-product-v2"] table[class*="bl-2-columns"] td[class*="bl-block-content-item-td-imageContent"],
            div[class*="bl-template"] div[class*="bl-block-product-v2"] td[class*="bl-3-columns"] td[class*="bl-block-content-item-td-imageContent"]
            { height: auto !important; }

            div[class*="bl-template"] div[class*="bl-block-product-v2"] td[class*="bl-1-columns"] td[class*="bl-block-content-item-td-titleContent"] td[class*="bl-block-content-item-td-wrapper"],
            div[class*="bl-template"] div[class*="bl-block-product-v2"] table[class*="bl-2-columns"] td[class*="bl-block-content-item-td-titleContent"] td[class*="bl-block-content-item-td-wrapper"],
            div[class*="bl-template"] div[class*="bl-block-product-v2"] td[class*="bl-3-columns"] td[class*="bl-block-content-item-td-titleContent"] td[class*="bl-block-content-item-td-wrapper"],
            div[class*="bl-template"] div[class*="bl-block-product-v2"] td[class*="bl-1-columns"] td[class*="bl-block-content-item-td-textContent"] td[class*="bl-block-content-item-td-wrapper"],
            div[class*="bl-template"] div[class*="bl-block-product-v2"] table[class*="bl-2-columns"] td[class*="bl-block-content-item-td-textContent"] td[class*="bl-block-content-item-td-wrapper"],
            div[class*="bl-template"] div[class*="bl-block-product-v2"] td[class*="bl-3-columns"] td[class*="bl-block-content-item-td-textContent"] td[class*="bl-block-content-item-td-wrapper"],
            div[class*="bl-template"] div[class*="bl-block-product-v2"] td[class*="bl-1-columns"] td[class*="bl-block-content-item-td-imageContent"] td[class*="bl-block-content-item-td-wrapper"],
            div[class*="bl-template"] div[class*="bl-block-product-v2"] table[class*="bl-2-columns"] td[class*="bl-block-content-item-td-imageContent"] td[class*="bl-block-content-item-td-wrapper"],
            div[class*="bl-template"] div[class*="bl-block-product-v2"] td[class*="bl-3-columns"] td[class*="bl-block-content-item-td-imageContent"] td[class*="bl-block-content-item-td-wrapper"]
            {height: auto !important; padding:9px; }
            
            div[class*="bl-template"] td[class*="bl-template-margin"] { padding:0 0 !important; }

            div[class*="bl-template"] table[class*="template-main-table"] {margin-right:0px !important; margin-left:0px !important;}

            div[class*="bl-template"] table[class*="template-main-table"],
            div[class*="bl-template"] td[class*="bl-template-border"],
            div[class*="bl-template"] td[class*="bl-template-border"] > table,
            div[class*="bl-template"] table[class*="bl-1-column"],
            div[class*="bl-template"] table[class*="bl-2-columns"],
            div[class*="bl-template"] td[class*="bl-3-columns"],
            div[class*="bl-template"] td[class*="bl-zone"],
            div[class*="bl-template"] td[class*="bl-zone"] > table,
            div[class*="bl-template"] td[class*="bl-block-content-row-inner"]
            {
            width: 320px !important;
            }

            div[class*="bl-template"] td[class*="bl-block-content-row-inner"]  table[class*="bl-block-content-column"]
            {
            width: 100% !important;
            }

            div[class*="bl-template"] td[class*="bl-template-border"]
            {
            border-width:0px !important;
            }

            div[class*="bl-template"] table[class*="bl-2-columns"],
            div[class*="bl-template"] td[class*="bl-3-columns"]
            {
            width: 100% !important; max-width: 600px !important;
            }

            div[class*="bl-template"] div[class*="bl-block-content-item-image"] img { width: 100% !important; }

            div[class*="bl-template"] td[class*="no-side-padding"] img { max-width:320px !important; }

            div[class*="bl-template"] td[class*="bl-padding-1-column"],
            div[class*="bl-template"] td[class*="bl-padding-2-columns-left"],
            div[class*="bl-template"] td[class*="bl-padding-2-columns-right"],
            div[class*="bl-template"] td[class*="bl-padding-3-columns"]
            {
            padding: 0px 18px 18px 18px !important;
            }

            div[class*="bl-template"] td[class*="bl-block-content-row-inner"]  table:last-child td[class*="bl-padding-1-column"],
            div[class*="bl-template"] td[class*="bl-block-content-row-inner"]  table:last-child td[class*="bl-padding-2-columns-left"],
            div[class*="bl-template"] td[class*="bl-block-content-row-inner"]  table:last-child td[class*="bl-padding-2-columns-right"],
            div[class*="bl-template"] td[class*="bl-block-content-row-inner"]  table:last-child td[class*="bl-padding-3-columns"]
            {
            padding: 0px 18px 0px 18px !important;
            }
            div[class*="bl-template"] div[class*="bl-block-Share"] td[class*="bl-content-wrapper"]
            {
            padding: 0px !important;
            }

            div[class*="bl-template"] td[class*="bl-block-content-column"]
            {
            display: block !important;
            max-width: 600px !important;
            width: 100% !important;
            }

            div[class*="bl-template"] table[class*="bl-block-columns-container"],
            div[class*="bl-template"] td[class*="bl-block-content-column"] > table
            {
            max-width: 600px !important;
            width: 100% !important;
            }

            div[class*="bl-template"] td[class*="bl-column-first"],
            div[class*="bl-template"] td[class*="bl-column-middle"]
            {
            padding-bottom: 18px !important;
            }
            div[class*="bl-template"] td[class*="bl-2-columns-last"]
            { }

            div[class*="bl-template"] td[class*="bl-2-columns-last"]
            { }

            /*div[class*="bl-template"] span[class*="bl-menu-break-row"] { display: block !important; }*/

            div[class*="bl-template"] .bl-block-content-item-td
            {
            padding-bottom: 9px !important;
            }

            }

            /*Keep these styles here so they will be included in all campaigns (inliner will not remove them)*/
            body{ width:100% !important; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; margin:0; padding:0}
            .green {color: red}
            #outlook a { padding: 0; }
            .ReadMsgBody { width: 100%; }
            .ExternalClass { width: 100% !important; line-height: 100% !important; }
            .yshortcuts { color: #5187bd; }
            .yshortcuts a span { color: #5187bd; border-bottom: none !important; background: none !important; }
        </style><style type="text/css">
            .bl-template .bl-block-product.bl-block-product-v2 .bl-block-content-item-td-imageContent { padding-top:0px; }
            .bl-template .bl-block-product.bl-block-product-v2 .bl-block-content-item-td-buttonContent { padding-top:0px; }
            .bl-template .bl-block-product.bl-block-product-v2 .bl-block-content-item-td-textContent { padding-top:0px; }

            
            .bl-template .bl-block-product.bl-block-product-v2 .bl-block-content-item-container-inner { line-height: 1.2 !important }
            .bl-template .bl-block-product.bl-block-product-v2 .bl-block-content-item-td-buttonContent { line-height: 1.2 !important }
            .bl-template .bl-block-product.bl-block-product-v2 .bl-block-content-item-td-textContent { line-height: 1.2 !important }
            .bl-template .bl-block-product.bl-block-product-v2 .bl-block-content-item-td-titleContent * { line-height: 1.2 !important }
            .bl-template .bl-block-product.bl-block-product-v2 .bl-block-content-item-td-buttonContent * { line-height: 1.2 !important }
            .bl-template .bl-block-product.bl-block-product-v2 .bl-block-content-item-td-textContent * { line-height: 1.2 !important }

            .bl-template .bl-block-product.bl-block-product-v2 .bl-block-4-cloumns-wrapper { direction: ltr!important; }
            .bl-template .bl-block-product.bl-block-product-v2 .bl-block-content-item-td-titleContent { direction: ltr!important; }
            .bl-template .bl-block-product.bl-block-product-v2 .bl-block-content-item-td-textContent { direction: ltr!important; }
            .bl-template .bl-block-product.bl-block-product-v2 .bl-block-content-item-td-buttonContent { direction: ltr!important; }
            .bl-template .bl-block-product.bl-block-product-v2 .bl-block-content-item-td-imageContent { direction: ltr!important; }
            .bl-template .bl-block-product.bl-block-product-v2 .bl-block-content-item-td-wrapper { direction: rtl!important; }

            .bl-template .bl-block-product.bl-block-product-v2 .bl-block-content-item-container-inner { direction: rtl; }

            
            

            .bl-template { font-style: normal; font-weight: normal; font-family: arial,sans-serif; font-size:15px; color:#606060;}

            .bl-template .bl-block-content-item { font-style: normal; font-family: arial, sans-serif; font-size:15px; color:#606060;  /*border: 0px; border-color: inherit;*/ }
            .bl-template .bl-block-content-item-text { text-align: right; line-height:1.2; direction:rtl; min-height: 8px;} /* LTR STYLE, word-break: break-all; */
            .bl-template .bl-block-text {font-style: normal; font-family: arial,sans-serif; font-size:15px; color:#606060; }

            .bl-template a { word-wrap: break-word !important; color: #00008c; border:0; outline:none;text-decoration:none;}
            .bl-template img { height: auto !important; display:inline-block; vertical-align:top; border:0px; outline:none; text-decoration:none;}
            .bl-template a img { border:0; outline:none; text-decoration:none; }

            .bl-template table {border-collapse: collapse !important; mso-table-lspace: 0pt !important;mso-table-rspace: 0pt !important;}
            .bl-template td {border-collapse: collapse !important; mso-table-lspace: 0pt !important;mso-table-rspace: 0pt !important;}
            .bl-template .bl-template-border {border-collapse: collapse !important;mso-table-lspace: 0pt !important;mso-table-rspace: 0pt !important;}

            .bl-template p { margin:1em 0; }
            .bl-template h1 { display: block; margin:0; padding:0; font-weight: bold; background-color: transparent; border:0px; color: #606060 !important; font-size: 40px; letter-spacing: normal !important; line-height: 1.2; }
            .bl-template h2 { display: block; margin:0; padding:0; font-weight: bold; background-color: transparent; border:0px; color: #606060 !important; font-size: 26px; letter-spacing: normal !important; line-height: 1.2; }
            .bl-template h3 { display: block; margin:0; padding:0; font-weight: bold; background-color: transparent; border:0px; line-height: 1.2; font-size: 18px; letter-spacing: normal;}
            .bl-template h4 { display: block; margin:0; padding:0; font-weight: bold; background-color: transparent; border:0px; line-height: 1.2; font-size: 16px; letter-spacing: normal;}
            .bl-template h1 a { color: #6DC6DD;font-weight: bold;}
            .bl-template h2 a { color: #6DC6DD;font-weight: bold;}
            .bl-template h3 a { color: #6DC6DD;font-weight: bold;}
            .bl-template h4 a { color: #6DC6DD;font-weight: bold;}

            .bl-template .bl-padding-1-column {padding: 0px 18px 0px 18px;}
            .bl-template .bl-padding-2-columns-left {padding: 0px 0px 0px 18px;}
            .bl-template .bl-padding-2-columns-right {padding: 0px 18px 0px 0px;}

            .bl-template .bl-padding-3-columns {padding: 0px 18px 0px 18px;}
            .bl-template .no-side-padding {padding: 0px 0px 0px 0px !important;}

            /*.bl-template .bl-block-product .bl-padding-3-columns {padding: 0px 9px 0px 9px; !important}*/
            .bl-template .bl-block-product .bl-column-first  .bl-padding-3-columns {padding: 0px 0px 0px 18px; !important;}
            .bl-template .bl-block-product .bl-column-middle .bl-padding-3-columns {padding: 0px 9px 0px 9px; !important;}
            .bl-template .bl-block-product .bl-column-last   .bl-padding-3-columns {padding: 0px 18px 0px 0px; !important;}

            .bl-template .bl-block-content-first-row .bl-block-content-row-inner { padding-top: 9px }
            .bl-template .bl-block-content-last-row .bl-block-content-row-inner { padding-bottom: 9px }

            /*
            .bl-template .bl-1-column {width: 600px;}
            .bl-template .bl-2-columns {width: 282px;}
            .bl-template .bl-3-columns {width: 200px;}
            .bl-template .bl-4-columns {width: 294px;}
            */

            .bl-template .social-items-container { text-align: center; }
            .bl-template .bl-block-content-item-logo { text-align: right; }
            .bl-template .bl-block-content-item-viewweb { text-align: center; }

            /* Article / Header / Footer
            .bl-template .bl-block-content-column .bl-block-content-item + .bl-block-content-item { padding-top:18px; }
            .bl-template .bl-block-content-column .bl-block-content-item + .bl-block-content-item-container .bl-block-content-item-container-inner { padding-top:18px; }
            .bl-template .bl-block-content-column .bl-block-content-item-container + .bl-block-content-item-container .bl-block-content-item-container-inner { padding-top:18px; }
            .bl-template .bl-block-content-column .bl-block-content-item-container + .bl-block-content-item { padding-top:18px; }*/

            .bl-template .bl-block-content-column .bl-block-content-item-container + .bl-block-content-item-container .bl-block-content-item-container-inner { padding-top:18px; }
            .bl-template .bl-block-articleleft .bl-block-content-column .bl-block-content-item-container + .bl-block-content-item-container .bl-block-content-item-container-inner { padding-top:9px; }
            .bl-template .bl-block-articleright .bl-block-content-column .bl-block-content-item-container + .bl-block-content-item-container .bl-block-content-item-container-inner { padding-top:9px; }
            .bl-template .bl-block-textunderimage .bl-block-content-column .bl-block-content-item + .bl-block-content-item-container .bl-block-content-item-container-inner { padding-top:18px; }
            
            .bl-template .bl-block-product .bl-block-content-item-title h2 { line-height:75% !important; font-size:24px; }
            
            
            .bl-template .bl-block-product.bl-block-product-v2 .bl-block-content-item-title h2 {  font-size:24px; }
            

            /* Header styles */
            .bl-template .bl-block-header .bl-block-content-first-row .bl-block-content-row-inner { padding-top: 18px; padding-bottom:18px; }
            .bl-template .bl-block-header .bl-block-content-last-row .bl-block-content-row-inner { padding-top: 18px; padding-bottom: 18px; }

            .bl-template .bl-block-header .bl-block-content-layout-0 .bl-block-content-first-row { background-color: #f9f9f9; }
            .bl-template .bl-block-header .bl-block-content-layout-0 .bl-block-content-first-row .social-items-container { text-align: left; }
            .bl-template .bl-block-header .bl-block-content-layout-0 .bl-block-content-first-row .bl-block-content-item-viewweb { font-size:14px; }
            .bl-template .bl-block-header .bl-block-content-layout-0 .bl-block-content-first-row .bl-block-content-item-viewweb > div { text-align: right; }

            .bl-template .bl-block-header .bl-block-content-layout-1 .bl-block-content-first-row .bl-block-content-item-logo { text-align: right; }
            .bl-template .bl-block-header .bl-block-content-layout-1 .bl-block-content-first-row .bl-block-content-item-viewweb { text-align: left; font-size: 14px;}
            .bl-template .bl-block-header .bl-block-content-layout-1 .bl-block-content-first-row { background-color: #f9f9f9; }

            .bl-template .bl-block-header .bl-block-content-layout-2 .bl-block-content-first-row .bl-block-content-item-viewweb { text-align: center; font-size: 14px; }
            .bl-template .bl-block-header .bl-block-content-layout-2 .bl-block-content-first-row { background-color: #f9f9f9; }
            .bl-template .bl-block-header .bl-block-content-layout-2 .bl-block-content-last-row { background-color: transparent; }
            .bl-template .bl-block-header .bl-block-content-layout-2 .bl-block-content-last-row .bl-block-content-item-logo { text-align: right; }
            .bl-template .bl-block-header .bl-block-content-layout-2 .bl-block-content-last-row .bl-block-content-item-headerlinks { font-size: 14px; }
            .bl-template .bl-block-header .bl-block-content-layout-2 .bl-block-content-last-row .bl-block-content-item-headerlinks > div { text-align: left; }

            .bl-template .bl-block-header .bl-block-content-layout-3 .bl-block-content-first-row .bl-block-content-item-viewweb { text-align: center; font-size: 14px; }
            .bl-template .bl-block-header .bl-block-content-layout-3 .bl-block-content-first-row { background-color: #f9f9f9; }
            .bl-template .bl-block-header .bl-block-content-layout-3 .bl-block-content-last-row { background-color: transparent; }
            .bl-template .bl-block-header .bl-block-content-layout-3 .bl-block-content-last-row .bl-block-content-item-logo { text-align: right; }
            .bl-template .bl-block-header .bl-block-content-layout-3 .bl-block-content-last-row .social-items-container { text-align: left; }

            /* Footer styles */
            .bl-template .bl-block-footer .bl-block-content-item-text { font-size: 14px; }

            .bl-template .bl-block-footer .bl-block-content-item-companyinfo > div { text-align: center; }
            .bl-template .bl-block-footer .bl-block-content-first-row .bl-block-content-row-inner { padding-top: 18px; padding-bottom:18px; }
            .bl-template .bl-block-footer .bl-block-content-last-row .bl-block-content-row-inner { padding-top: 18px; padding-bottom: 18px; }

            .bl-template .bl-block-footer .bl-block-content-column .bl-block-content-item-canspam { text-align:center; padding-top:2px !important;}
            .bl-template .bl-block-footer .bl-block-content-column .bl-block-content-item-unsubscribe { text-align:center;}
            .bl-template .bl-block-footer .bl-block-content-column .bl-block-content-item-copyrights { text-align:center; padding-top:2px !important;}
            .bl-template .bl-block-footer .bl-block-content-column .bl-block-content-item-container + .bl-block-content-item-container { margin-top:9px; }

            /* Images styles */
            .bl-template .at-line-hight-removal { font-size: 0px; line-height:0px; }
            .bl-template .bl-block-content-item-image.non-editable-content { font-size: 15px; }

            .bl-template .bl-block-footer .bl-block-content-row { background-color: #f9f9f9; }	/* bl-block-content-layout-0, bl-block-content-first-row, bl-block-content-last-row */
            .bl-template .bl-block-footer .bl-block-content-layout-1 .social-items-container { text-align: left; }
            .bl-template .bl-block-footer .bl-block-content-layout-3 .bl-block-content-item-headerlinks > div { text-align: left; }

            .bl-template .bl-block-content-item-button a {direction:rtl;}
            .bl-template .bl-block-content-item-button {direction: rtl;}

            /*Open issue for outlook 2010 etc...*/
            .bl-template .social-items-container img { padding: 2px; }

            /*Divider*/
            .bl-template .bl-block-divider .bl-block-content-item-container-inner { padding-top:3px; padding-bottom:3px; }

            /*Direction*/
            .bl-template .bl-block-content-row-inner { direction: ltr; }
            .bl-template .bl-content-wrapper { direction: ltr; }
            .bl-template .bl-block-dir-rtl .bl-block-columns-container { direction: rtl; }
            .bl-template .bl-block-dir-rtl .bl-block-content-item-container-inner { direction: rtl; }

            /* IE Fix */
            .bl-template .bl-zone-dropable.ui-sortable {min-height:0px !important;}

            .bl-footer-adv-sep {margin:0 0 20px 0; border: 1px inset;}

            .bl-template ul {padding-top: 0px; padding-bottom:0px; margin-top:0px; margin-bottom:0px; list-style-type:disc;}
            .bl-template ol {padding-top: 0px; padding-bottom:0px; margin-top:0px; margin-bottom:0px;}

            /*Multiple Wrappers in Column (4 columns)*/
            .bl-template .bl-block-dir-ltr .bl-block-4-cloumns-wrapper.left { padding-right: 6px; }
            .bl-template .bl-block-dir-ltr .bl-block-4-cloumns-wrapper.right { padding-left: 6px; }
            .bl-template .bl-block-dir-rtl .bl-block-4-cloumns-wrapper.left { padding-left: 6px; }
            .bl-template .bl-block-dir-rtl .bl-block-4-cloumns-wrapper.right { padding-right: 6px; }

            .bl-template .menu-item { display:inline-block; }

        </style></div></div>
                                    
                                </div>
                                <!-- end builder-->
                                <!-- Editor toolbar -->
                                <div id="editorToolbar" class="cke_skin_v2">
                                </div>
                                <div id="colorPicker" style="cursor: move" class="ui-draggable">
                                </div>
                                <div id="blockShadow">
                                </div>
                               
                                <!-- end Editor toolbar -->
                                <!-- blocks inline toolbar -->
                                <div class="bl-block-toolbar-buttons Dir LanguageAlign bl-block-toolbar-item-hidden">
                                    <div id="bl-block-toolbar-drag" class="bl-block-toolbar-item toolbar-drag">
                                    </div>
                                    
                                    <a href="#" onclick="return false;" class="bl-block-toolbar-item toolbar-delete" title="Delete">
                                        &nbsp;</a>
                                    
                                    <a href="#" onclick="return false;" class="bl-block-toolbar-item toolbar-condition" title="Set block condition">
                                        &nbsp;</a>
                                    
                                    <a href="#" onclick="return false;" class="bl-block-toolbar-item toolbar-copy" title="Duplicate">
                                        &nbsp;</a>
                                    
                                    <a href="#" onclick="return false;" class="bl-block-toolbar-item toolbar-favorite" title="Save to My Blocks">
                                        &nbsp;</a>
                                    
                                    <div class="imageAvailableSize"></div>
                                </div>
                                
                                <!-- end blocks toolbar -->
                            </div>
                        </div>
                    </td>
                </tr>
                
            </tbody></table>
