<div class="jumbotron clearfix">
	<h1><%= @version.header_title %></h1>
	<p id="findings_sentence">מדי שבוע, בילביז סורקת את החשבוניות שלך ומוצאת עבורך דרכים חדשות ומלהיבות לחסוך ולשפר את ביצועי העסק שלך. ראה מה מצאנו עבורך השבוע:</p>
	<table class="findings">
		<tbody>
			<tr>
				<td>אתה יכול לחסוך 30% מהוצאות התקשורת שלך</td>
				<td class="pull-left"><a href="#recommendations">לפרטים נוספים </a><td>						
			</tr>
		</tbody>
	</table>
</div>