<div class="bl-block bl-block-text" id="bl_10" blocktype="text" name="text" width="100%" cellpadding="0" cellspacing="0" border="0" dir="ltr" copy-bgcolor="false" style="background-color: rgba(255, 243, 165, 0);"><div class="bl-block-toolbar-buttons Dir LanguageAlign bl-block-toolbar-item-hidden" id="toolbar_bl_10">
                                    <div id="bl-block-toolbar-drag" class="bl-block-toolbar-item toolbar-drag" style="left: 0px; top: 0px;">
                                    </div>
                                    
                                    <a href="#" onclick="return false;" class="bl-block-toolbar-item toolbar-delete" title="Delete" style="top: 0px; right: 0px;">
                                        &nbsp;</a>
                                    
                                    <a href="#" onclick="return false;" class="bl-block-toolbar-item toolbar-condition" title="Set block condition" style="top: 0px; right: 102px;">
                                        &nbsp;</a>
                                    
                                    <a href="#" onclick="return false;" class="bl-block-toolbar-item toolbar-copy" title="Duplicate" style="top: 0px; right: 153px;">
                                        &nbsp;</a>
                                    
                                    <a href="#" onclick="return false;" class="bl-block-toolbar-item toolbar-favorite" title="Save to My Blocks" style="top: 0px; right: 51px;">
                                        &nbsp;</a>
                                    
                                    <div class="imageAvailableSize"></div>
                                </div><div class="bl-block-content" contenteditable="false"><table width="100%" cellpadding="0" cellspacing="0" border="0" dir="ltr"><tbody><tr><td class="bl-block-content-table bl-block-dir-ltr"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="bl-block-content-row bl-block-content-first-row bl-block-content-last-row" style="background-color: rgba(0, 0, 0, 0);"><tbody><tr><td valign="top" class="bl-block-content-row-inner"><table border="0" cellpadding="0" cellspacing="0" class="bl-block-content-column bl-block-content-new-column bl-1-column" align="left" width="600" style="width: 600px;"><tbody><tr><td valign="top" class="bl-padding-1-column bl-content-wrapper" width="600" style="width: 600px;"><table cellpadding="0" cellspacing="0" border="0" class="bl-block-content-item-container" width="100%"><tbody><tr><td class="bl-block-content-item-container-inner"><div class="bl-block-content-item bl-block-content-item-text bl-in-edit-mode-single" style="direction: rtl; text-align: right;">
  
<%= render 'reminders_panel' %> 
  
                                	</div></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></div>
</div>
