  <tr class="reminder_background">
    <td><%= image_tag 'bezeq.png', class: 'sup_logo' %></td>
    <td><%= l Date.today, format: :short %></td>
    <td>סיום מבצע</td>
    <td>חידוש</td>
  </tr>
  <tr>
  	<td>בתאריך:</td>
  	<td><%= l Date.today, format: :short %></td>
  	<td>מסתיים מבצע:</td>
	<td>"הקש בדלת"</td>
  </tr>
